.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    background-color: #fff;
    border-bottom: 1px solid #ececec;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    z-index: 1000;
}

@media (max-width: 1200px) {
    .header-container {
        width: 95%;
    }
}

@media (max-width: 768px) {
    .header-container {
        width: 100%;
        flex-direction: column;
    }

    .header-search-area {
        display: none;
    }

    .menu-nav, .header-nav {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 360px) {
    .header-nav-container {
        flex-direction: row; /* 가로줄로 변경 */
        justify-content: center; /* 중앙 정렬 */
        min-width: unset; /* 최소 너비 제한 해제 */
        flex-wrap: wrap; /* 공간 부족 시 줄바꿈 허용 */
    }

    .menu-nav, .header-nav {
        flex-direction: row; /* 가로줄로 변경 */
        align-items: center;
        gap: 10px; /* 항목 간 간격 추가 */
    }

    .nav-link {
        padding: 5px 10px; /* 가로 배열에 맞게 패딩 조정 */
    }
}

.logo {
    font-size: 30px;
    color: #672091;
    font-weight: bold;
}

.header-search-area {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    margin: 0 20px;
}

.menu-nav {
    display: flex;
    margin-right: 5px;
}

.header-nav {
    display: flex;
    gap: 5px;
}

.nav-link {
    color: #333;
    text-decoration: none;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.2s ease-in-out;
}

.nav-link:hover {
    color: #672091;
}

.logout-link {
    cursor: pointer;
}

.header-nav-container {
    display: flex;
    min-width: 300px; /* 최소 너비를 설정하여 크기 변화 방지 */
    justify-content: flex-end; /* 오른쪽 정렬 */
}
