/* src/components/PostItem/PostItem.css */

.post-card {
    container-type: inline-size;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    overflow: hidden; /* 이미지 오버플로우 방지 */
    display: flex;
    flex-direction: column;
    aspect-ratio: 1 / 1.2;
    cursor: pointer;
}

.post-card:hover {
    border: 1px solid gray;
}

.post-image {
    width: 100%;
    height: 50%;
    object-fit: cover; /* 이미지 비율 유지하며 채우기 */
    display: block; /* 이미지 아래 공백 제거 */
}

.post-info {
    padding: 15px;
    display: flex;
    flex-direction: column;
    flex-grow: 1; /* 남은 공간을 차지하여 내용이 적어도 높이 유지 */
    margin-bottom: 2px;
}

.post-header-meta {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 10px;
    font-size: 0.9em;
    color: #666;
}
/* --- 이미지 컨테이너 스타일 수정 --- */
.post-user-image-container {
    width: 25px; /* 프로필 이미지 크기를 5px로 설정 */
    height: 25px; /* 프로필 이미지 크기를 5px로 설정 */
    border-radius: 50%; /* 원형으로 자르기 */
    overflow: hidden; /* 컨테이너 밖으로 나가는 이미지 자르기 */
    display: flex; /* 내부 이미지를 중앙 정렬 */
    justify-content: center;
    align-items: center;
    margin-right: 10px; /* 사용자 이름과의 간격 */
    background-color: #eee; /* 이미지가 로드되기 전의 배경색 */
    flex-shrink: 0; /* 공간이 부족해도 축소되지 않도록 */
}

.post-profile-img {
    width: 100%; /* 컨테이너에 꽉 채우기 */
    height: 100%; /* 컨테이너에 꽉 채우기 */
    object-fit: cover; /* 이미지 비율 유지하며 컨테이너 채우기 */
    display: block; /* 이미지 하단 여백 제거 */
}

/* --- 이미지 컨테이너 스타일 끝 --- */
.post-user-name {
    font-size: 20px;
    margin-right: 10px;
}

.post-datePosted {
    margin-left: auto;
}

.post-restaurant-name {
    margin-top: 0;
    margin-bottom: 10px;
    white-space: nowrap; /* 제목이 한 줄에 표시되도록 */
    overflow: hidden; /* 넘치는 부분 숨김 */
    text-overflow: ellipsis; /* 넘치는 부분 ...으로 표시 */
    font-size: 1.2em;
    color: #672091;
    font-weight: bold;
    text-align: left;
}

.post-title {
    margin-top: 0;
    margin-bottom: 10px;
    white-space: nowrap; /* 제목이 한 줄에 표시되도록 */
    overflow: hidden; /* 넘치는 부분 숨김 */
    text-overflow: ellipsis; /* 넘치는 부분 ...으로 표시 */
    font-size: 1em;
    color: #333;
    font-weight: bold;
    text-align: left;
}

.post-positive-tags {
    margin-bottom: 5px;
    display: flex;
    flex-wrap: wrap; /* 태그가 많을 경우 줄바꿈 */
    gap: 5px;
}

.post-negative-tags {
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap; /* 태그가 많을 경우 줄바꿈 */
    gap: 5px;
}

.positive-tag-badge {
    background-color: #D4EDDA;
    padding: 4px 8px;
    border-radius: 8px;
    font-size: 0.8em;
    white-space: nowrap; /* 태그 줄바꿈 방지 */
}

.negative-tag-badge {
    background-color: #F8D7DA;
    padding: 4px 8px;
    border-radius: 8px;
    font-size: 0.8em;
    white-space: nowrap; /* 태그 줄바꿈 방지 */
}